<app-banner [title]="'Company'" [caption]="'Provides link to navigate to resources '" [imageClass]="'bg-blue-500'"></app-banner>
<section class="about-section bg-white">
  <div class="container flex md:flex md:flex-row sm:flex-col flex-start flex-wrap justify-center">
    <div class="shadow md:w-1/5 sm:w-1/2 p-4 m-2 text-center documents hover:bg-blue-900 hover:text-white rounded-lg text-gray-900 font-semibold" *ngFor="let item of links">
      <a href="{{item.url}}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> {{ item.name }}</a>
    </div>
  </div>
</section>