<header class="navigation-header animated fadeInUp bg-white">
  <div class="header-top social-media flex d-none d-md-block d-lg-block bg-teal-900">
    <div class="container text-white">
      <div class="row justify-content-between align-item-center p-2">
        <div class="col-lg-8 col-md-8 flex md:flex font-12 justify-content-start font-bold "> 
          <div class="animated-border">
            <span class="mr-1"><i class="fa fa-at" aria-hidden="true"></i> </span>cmedverify@gmail.com
          </div> 
          <div class="ml-2">
            <span class="mr-1"><i class="fa fa-phone" aria-hidden="true"></i> </span>+91-7893876339
          </div>  
        </div>
        <div class="col-lg-4 col-md-4 flex md:flex flex-grow justify-content-end justify-content-space">
          <div class="facebook mr-2">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </div> 
          <div class="linkedin mr-2">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </div>
          <div class="twitter mr-2">
            <i class="fa fa-twitter " aria-hidden="true"></i>
          </div> 
        </div>
      </div>
    </div>
  </div>

  <div class="flex md:flex justify-between flex-wrap">

  <nav class="container flex items-center justify-between flex-wrap p-4">
    <div class="flex items-center flex-shrink-0 text-black mr-6 ">
      <img src="/assets/logo.png" class="h-10" />
      <span class="text-2xl font-bold uppercase tracking-tight">cmedverify</span>
    </div>
    <div class="block lg:hidden">
      <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow menu-items text-right text-base">
        <a routerLink="/" class="block lg:inline-block lg:mt-0 text-teal-700 hover:text-teal-900 mr-4 animated-border">
          <i class="fa fa-home" aria-hidden="true"></i> Home
        </a>
        <a routerLink="service" class="block lg:inline-block lg:mt-0 text-teal-700 hover:text-teal-900 mr-4 animated-border">
          <i class="fa fa-gear" aria-hidden="true"></i> Services
        </a>
        <a routerLink="about" routerLinkActive="active" class="block lg:inline-block lg:mt-0 text-teal-700 hover:text-teal-900 mr-4 active:text-gray-900 animated-border">
          <i class="fa fa-info-circle" aria-hidden="true"></i> About
        </a>
        <a routerLink="contact" routerLinkActive="active" class="block lg:inline-block lg:mt-0 text-teal-700 hover:text-teal-900 animated-border">
          <i class="fa fa-paper-plane" aria-hidden="true"></i> Contact
        </a>
      </div>
     <!-- <div>
        <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-teal-900 lg:mt-0">Download</a>
      </div> -->
    </div>
  </nav>
</div>
</header>