<header class="navigation-header animated fadeInUp bg-white">
  <div class="flex md:flex justify-between flex-wrap">

  <nav class="container flex items-center justify-between flex-wrap p-4">
    <div class="flex items-center flex-shrink-0 text-black mr-6 ">
       <!-- <img src="/assets/syngenta-logo.png" class="h-10" alt="Syngenta"/> -->
      <div class="logo text-2xl font-bold uppercase tracking-tight text-teal-700"></div>
    </div>
    <div class="block lg:hidden">
      <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow menu-items text-right text-base">
        <a routerLink="/" class="block font-semibold lg:inline-block lg:mt-0 text-teal-700 hover:text-teal-900 mr-4 animated-border">
          <i class="fa fa-home" aria-hidden="true"></i> Home
        </a>
        <a  class="service block lg:inline-block lg:mt-0 text-teal-700 hover:text-teal-900 mr-4 animated-border">
          <!-- <i class="fa fa-gear" aria-hidden="true"></i> Services -->
          <div class="dropdown inline-block relative">
            <button class=" text-teal-700 font-semibold py-2 px-4 rounded inline-flex items-center">
              <span class="mr-1"> <i class="fa fa-gear" aria-hidden="true"></i> Services </span>
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
            </button>
            <ul class="dropdown-menu absolute hidden text-teal-700 pt-1 shadow border-0">
              <li class=""><a routerLink="encryption" class="rounded-t text-teal-700 font-semibold hover:text-gray-900 py-2 px-4 block whitespace-no-wrap">Encryption</a></li>
              <li class=""><a routerLink="decryption" class=" text-teal-700 font-semibold hover:text-gray-900 py-2 px-4 block whitespace-no-wrap">Decryption</a></li>
            </ul>
          </div>
        </a>
        <a routerLink="library" routerLinkActive="active" class="block font-semibold lg:inline-block lg:mt-0 text-teal-700 hover:text-teal-900 mr-4 active:text-gray-900 animated-border">
          <i class="fa fa-book" aria-hidden="true"></i> Library
        </a>
        <a routerLink="application" routerLinkActive="active" class="block font-semibold lg:inline-block lg:mt-0 text-teal-700 hover:text-teal-900 mr-4 active:text-gray-900 animated-border">
          <i class="fa fa-bars" aria-hidden="true"></i> Applications
        </a>
        <a routerLink="about" routerLinkActive="active" class="block font-semibold lg:inline-block lg:mt-0 text-teal-700 hover:text-teal-900 mr-4 active:text-gray-900 animated-border">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Company
        </a>
      </div>
     <!-- <div>
        <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-teal-900 lg:mt-0">Download</a>
      </div> -->
    </div>
  </nav>
</div>
</header>