<app-banner [imageClass]="'banner-background'"></app-banner>
<section class="introduction bg-white p-4">
  <div class="container text-justify">
    <p class="text-base text-gray-900">This portal mainly serves integration teams with integration technology needs; by accelerating the time to deliver the required process to setup development activities and runway to encrypt, decrypt security keys. It is a one-stop login window to all the Syngenta portal applications and knowledge content sources.</p>
  </div>
  
   <h6 class="text-center text-red font-semibold">Syngenta Network Service Center : +1 866 454 4975 ;Syngenta Benefits Service Center  : +1 855 997 6947  </h6>
</section>