<app-banner [imageClass]="'banner-background'"></app-banner>
<section class="introduction bg-white p-4">
  <div class="container text-justify">
    <p class="text-base text-gray-900">Before going to keep practice in any healthcare facility in United Arab Emirates,
      every Healthcare Professionals need to acquire a license. There are four different licenses i.e. DHA, MOH, HAAD,
      DHCC. These licenses should be valid during their clinical practice and must be related with the concerned field
      of healthcare department and facility which they are working presently.</p>
    <p class="text-base text-gray-900">The chances of getting license will increase or high to the healthcare
      professionals, when the paperwork is submitted correctly through correct channel and under the right category.</p>
    <p class="text-base text-gray-900">But when Healthcare professionals who are not experienced with the online
      submissions usually submits wrong papers or incorrect papers. This will diminish or even entirely decreases their
      chance of acquiring a license to keep a clinical practice in UAE. Correct paperwork submission decrease the time
      spent on the wrong submissions and rejections.
    </p>

    <p class="text-base text-gray-900">For the Department approvals one can easily speed up the complete process by correct Health Professional
      Categories, such as</p>
    <ul class="list-disc list-group list-group-flush text-base text-gray-900 ">
      <li class="list-group-item border-0"> Physicians (Consultant / Specialist / Medical Practitioner)</li>
      <li class="list-group-item border-0">Dentistry (Specialist /Consultant / GP)</li>
      <li class="list-group-item border-0">Allied Health</li>
      <li class="list-group-item border-0">Nursing / Midwifery</li>
      <li class="list-group-item border-0">Pharmacy</li>
    </ul>
  </div>
</section>
