<app-banner [imageClass]="'banner-background'"></app-banner>
<section class="introduction bg-white p-4">
  <div class="container text-justify">
    <p class="text-base text-gray-900">Before going to keep practice in any healthcare facility in United Arab Emirates,
      every Healthcare Professionals need to acquire a license. There are four different licenses i.e. DHA, MOH, HAAD,
      DHCC. These licenses should be valid during their clinical practice and must be related with the concerned field
      of healthcare department and facility which they are working presently.</p>
  </div>
</section>
