<app-header></app-header>
<router-outlet></router-outlet>
<!-- 
<footer class="w-full bg-blue-900 z-50 text-white">
    <div class="container p-2 h-10">

    </div>
    <section class="container p-4 flex md:flex-row sm:flex-col">
            <div class="col-md-3">
                <img src="/assets/logo.png" class="h-12 inline-block"/>
                <span class="text-2xl font-bold uppercase tracking-tight">cmedverify</span>
            </div>
            <div class="col-md-4">
                <h5 class="text-bold text-xl text-white"> Services</h5>
            </div>
            <div class="col-md-5">
                <div class="address">
                    <p class="text-base text-white">Shobha Pavani Apartments</p>
                    <p class="text-base text-white">1-9-1114 TO 1116, NALLAKUNTA</p>
                    <p class="text-base text-white">Street Number 5</p>
                    <p class="text-base text-white">Ramnagar Gundu, Ram Nagar Gundu, Adikmet</p>
                    <p class="text-base text-white">Hyderabad, Telangana 500044</p>
                </div>
                <div class="phone">
                    +91-7893876339
                </div>
                <div class="email">
                    cmedverify@gmail.com
                </div>
            </div>

    </section> 
</footer>
-->